#FooterDIV1 {


    background-color: rgb(255, 86, 117);
    height: 2.7cm;
    width: 100%;


}

#footerlogo1,
#footerlogo2,
#footerlogo3,
#footerlogo4 {

    width: 4ch;
    height: 4ch;
}



#footerlogo1 {
    color: rgb(46, 46, 228);
}

#footerlogo2 {
    color: rgba(0, 255, 255, 0.752);
}

#footerlogo3 {
    color: pink;
}

#footerlogo4 {
    color: rgb(165, 5, 50);
}

#footerlogo5 {
    width: 4ch;
    height: 4ch;

}



.foterspam {
    width: 3ch;

}