#ourteamDIV1 {
    background-color: rgb(255, 86, 117);
    height: 19cm;
    width: 100%;

}

.ourteammarque {
    height: 6cm;
}

.ourteamspam {
    width: 2ch;
}

.ourteamTD {

    border: 1px solid black;
}


#ourteamimg {

    height: 14cm;
}